/*entire body*/

body {
    /*font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;*/
    /* background: linear-gradient( rgb(255, 94, 0), #bdf006) fixed;*/
}

/* navigation bar */

#nav_left {
    float: left;
}

#nav_right {
    float: right;
}

#nav_left .nav li {
    float: left;
}

#nav_right .nav li {
    float: right;
}

#nav_left a {
    color: white;
    text-shadow: 0 .2px .2px rgba(3, 3, 3, 0.726);
    font-size: 16px;
}

#nav_right a:not(.current) {
    color: rgb(99, 99, 99);
    /* text-shadow: 0 .05px .05px rgba(3, 3, 3, 0.726); */
    font-size: 12px;
}

.nav li:hover a {
    background-color: transparent;
    color: white;
}

nav {
    background: rgba(0, 0, 0, 0.377);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav li a.current {
    color: white;
    font-size: 12px;
}

/*dont call me gaga*/

#first_content_wrapper {
    position: absolute;
    top: 15%;
    width: 100%;
    color: #000;
}

#contact_info {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contact_info span {
    flex: 0 0 33.333%;
    max-width: 33.3333%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

#contact_info span i {
    float: left;
    font-size: 30px;
}

#contact_info span .right_area {
    margin-left: 25px;
    float: left;
    color: rgb(63, 63, 63);
}

#contact_info_wrapper {
    background: rgb(255, 255, 255);
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 7px;
}

#middle_box_container {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 350px;
    text-align: center;
    z-index: 2;
}

#middle_box {
    display: inline-block;
    position: relative;
    background-color: white;
    width: 50%;
    height: 100%;
}

#middle_box ul {
    padding: 0;
    margin: 30px 0px;
    list-style: none;
}

#profile_pic_container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -100px;
    margin-bottom: -80px;
}

#profile_pic_container img {
    width: 100%;
}

#about_me {
    color: #777;
    background-color: white;
    padding: 100px 80px 50px 80px;
}

@media screen and (max-width:800px) {
    #contact_info {
        justify-content: space-between;
    }
    #contact_info span {
        max-width: 100%;
    }
    #middle_box {
        width: 75%;
    }
}

/*parallax effect*/

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: rgb(63, 63, 63);
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    /*
    opacity: 0.65;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("camera_hipster.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("neighborhood_hipster.jpg");
    min-height: 300px;
}

.bgimg-3 {
    background-image: url("darthvader_hipster.jpg");
    min-height: 300px;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: rgba(43, 43, 43, 0.5);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 20px;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 70px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/*past experiences*/

div[id*="work_exp"] {
    margin: 15px 0px;
    display: flex;
    /* height: 60vh; */
}

.time_and_logo {
    width: 30%;
    float: left;
}

.time_and_logo img {
    object-fit: cover;
    object-position: center;
}

/*footer style*/

footer p {
    margin: 0;
}

footer a {
    color: rgb(221, 221, 221);
}

footer a:hover {
    color: rgba(221, 221, 221, 0.5);
}