#nav_left {
  float: left;
  /* width: 30%; */
}

#nav_right {
  float: right;
  /* width: 48%; */
}

#nav_mid {
  display: inline-block;
  margin: 0 auto;
}

#nav_left .nav li {
  float: left;
}

#nav_right .nav li {
  float: right;
}

.nav li a {
  color: rgba(58, 58, 58, 0.336);
  font-size: 12px;
}

.nav li:hover a {
  background-color: transparent;
  color: white;
}

nav {
  background: rgba(0, 0, 0, 0.377);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

#my_name {
  color: rgb(31, 69, 139);
  text-shadow: 0 1px 1px rgba(23, 133, 106, 0.5);
  /* to prevent line break within my name */
  white-space: nowrap;
}

#overlay {
  background-color: rgba(168, 47, 47, 0.377);
  margin: 40px 35px;
  border-radius: 5px;
}

#about_me, #previous_works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#about_me {
  height: 100vh;
  padding: 10px 30px;
}

#previous_works {
  min-height: 70vh;
  padding: 10px;
}

/*This is to fix the children height flowing out of parent*/

#about_me:after, #previous_works:after, #overlay {
  content: " ";
  display: block;
  clear: both;
}

#first_left, #first_right {
  width: 50%;
  position: relative;
}

#second_left, #second_right {
  width: 38%;
  position: relative;
}



@media screen and (max-width:800px) {
  #about_me, #previous_works {
    justify-content: space-between;
  }
  #first_left, #second_right {
    width: 100%;
    order: 2;
  }
  #first_right, #second_left {
    width: 100%;
    order: 1;
  }
}

#first_right, #second_left, #second_right {
  text-align: center;
}

#second_left, #second_right {
  margin: 30px;
}

#second_middle {
  display: block;
  text-align: center;
}

body {
  /*
    background-image: url(snow_mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  background-color: rgb(194, 194, 194);
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*chevron thing */

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section03 a {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

#section03 a span {
  position: absolute;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*chevron thing */
